/* REGLAGE PAGE */
.App {
  height: 100vh;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
/* END REGLAGE PAGE */
/* HEADER */
form div:not(:last-child) {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
}
/* END HEADER */
/* BODY */
h1 {
  font-weight: 400;
  margin: 20px 20px;
}
i.fas.fa-tasks {
  color: rgb(115, 89, 220);
  font-size: 50px;
  margin: 0px 0px 0px 20px;
}
hr {
  margin: 0px;
  opacity: 0.4;
}

.body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
button {
  border: none;
  background-color: white;
  color: rgb(115, 89, 220);
  margin: 10px;
  font-size: large;
}

input {
  width: 300px;
  height: 35px;
  border: 1px solid rgb(115, 89, 220);
  border-radius: 5px;
  background-color: rgb(248, 245, 253);
  padding: 0px 10px;
}
button.btn-submit,
button.btn-reset {
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(115, 89, 220);
  color: white;
  padding: 0px 10px;
  margin: 30px;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(115, 89, 220);
  cursor: pointer;
}

strong {
  color: rgb(115, 89, 220);
}

div.trash {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
div.trash:hover {
  border: none;
}
i {
  color: rgb(115, 89, 220);
  font-size: larger;
  margin: 10px;
}
button.trash {
  height: 10px;
  width: 10px;
  border: 1px solid;
  border-radius: 3px;
}
button.trash:hover {
  background-color: grey;
}
div.trash :hover {
  text-decoration: line-through;
}
/* END BODY */
/* FOOTER */
.footer {
  text-align: center;
  margin: 40px;
}
/* END FOOTER */
